@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color:#fff;
}

.container{
    width: 100%;
    background-color: rgba(143, 140, 140, .04);
}

.container-head{
    max-width: 80%;
    margin: 0 auto;
    padding: 8px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-head a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}

.container-head .logo{
    font-size: 32px;
    font-weight: 700;
    color:  rgb(2, 182, 26);
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    position: relative;
    font-size: 18px;
    font-weight: 600;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(2, 182, 26);
    transition: .3s width;
}

.navbar a:hover{
    color: black;
}

.navbar a:hover::before{
    width: 100%;
}


main{
    height: calc(100vh - 55px);
}

.container-main{
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    margin: 0 auto;
    gap: 40px;
}

.information{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan{
    font-size: 64px;
    width: 100%;
    color: rgb(212, 109, 40);
}

.imgPortada{
    width: 100%;
}

.table{
    width: 70%;
    height: fit-content;
    margin-top: 128px;
    padding: 1.2rem;
    box-shadow: 0 .15rem 1.75rem rgba(33,40,50,.18);
    border-radius: 16px;
}

.search{
    border: 1px solid #ccc;
    margin: 10px 15px;
    outline: none;
    max-width: 320px;
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
}

.search::placeholder{
    color: #69707a;
    font-size: 14px;
}

.wrap-option{
    display: flex;
    gap: 16px;
    height: 30px;
    align-items: center;
}

.wrap-option .add,
.wrap-option .delete{
    display: block;
    width: auto;
}

.add, .delete{
    padding: 8px 12px;
    border-radius: 8px;
    transition: .3s background-color, .3s color;
}

.add a,
.delete a{
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

.add:hover{
    background-color: rgba(2, 182, 26, 0.8);
    color: white;
}

.add:hover a{
    color: inherit;
}

.delete:hover{
    background-color: rgba(211, 2, 2, 0.8);
    color: white;
}

.delete:hover a{
    color: inherit;
}


.wrap-title,
.wrap-item{
    display: grid;
    grid-template-columns: repeat(2,6fr) repeat(5,25fr);
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

.operation {
    grid-column: span 2;
    justify-self: center;
  }

.wrap-title{
    border-bottom: 1px solid #000;
}
.wrap-item{
    border-bottom: 1px solid rgba(143, 140, 140, .24);
}

.wrap-item:nth-child(odd){
    background-color: rgba(143, 140, 140, .04);
}

.edit,
.remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-content,
.remove-content {
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
  transition: .2s outline, .2s color;
}


.edit-content a,
.remove-content a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.edit-content i,
.remove-content i {
  font-size: 18px;
}

.edit-content:hover,
.remove-content:hover {
  outline-color: #9e8702cc;
  outline-width: 2px;
  outline-style: solid;
  color: #9e8702cc;
}

.remove-content:hover {
    outline-color: rgba(211, 2, 2, 0.8);
    outline-width: 2px;
    outline-style: solid;
    color: rgba(211, 2, 2, 0.8);
}

.edit-content:hover a,
.remove-content:hover a{
  color: inherit;
}




